body {
  font-family: 'Mulish', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  display: flex;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.header h1 {
  margin: 0;
}

.breadcrumb {
  font-size: 14px;
  color: #888;
}

.search-bar {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.search-bar input,
.search-bar select,
.search-bar button {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.search-bar button {
  background-color: #28a745;
  color: white;
  border: none;
  cursor: pointer;
}

.add-employee {
  text-align: right;
  margin-bottom: 20px;
}

.add-employee button {
  background-color: #ff4757;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.employee-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.employee-card {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  width: calc(25% - 20px);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.employee-card img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-bottom: 10px;
}

.employee-card h2 {
  margin: 10px 0 5px;
  font-size: 18px;
}

.employee-card p {
  margin: 0;
  color: #666;
  font-size: 14px;
}

.employee-details {
  display: none;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  margin-top: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  line-height: 2.0;
  width: 500px;
  height: 100%;
}

.employee-details.active {
  display: block;
}

.employee-details img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-bottom: 10px;
}

.employee-details h2 {
  margin: 10px 0 5px;
  font-size: 18px;
}

.employee-details p {
  margin: 0;
  color: #666;
  font-size: 14px;
}

.employee-information {
  display: flex;
}