* {
  font-family: Arial, Helvetica, sans-serif;
}

.head {
  display: flex;
  padding-bottom: 30px;
}

.title {
  padding-right: 715px;
}

.text2 {
  font-size: 18px;
  padding-right: 10px;
}

.text3 {
  font-size: 16px;
  opacity: 60%;
  padding-top: 2px;
}

.nav-bar {
  display: flex;
}

.detail-profile {
  height: 240px;
  width: 1230px;
  display: flex;
  border-radius: 8px;
  border: 1px solid gainsboro;
}

.emp-avt {
  display: flex;
  width: 560px;
}

.avatar {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  margin-top: 20px;
  margin-left: 20px;
}

.emp-content {
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 50px;
}

.emp-name {
  font-size: 24px;
}

.blur-text {
  opacity: 70%;
  font-size: 14px;
  padding-bottom: 10px;
}

.send-mess {
  padding-top: 20px;
}

.btn-send {
  height: 40px;
  width: 135px;
  background-color: #2f51ba;
  border-radius: 7px;
  font-size: 17px;
  color: #fff;
  cursor: pointer;
  border: none;

  &:hover {
    opacity: 80%;
  }
}

.emp-info {
  position: relative;
  margin-top: 20px;
  &::after {
    content: "";
    position: absolute;
    height: 200px;
    width: 1px;
    background-color: rgb(149, 148, 148);
    top: 0;
    left: 1;
  }
}

.content-info {
  display: flex;
  padding-bottom: 15px;
}

.content-info-num {
  display: flex;
  padding-bottom: 3px;
}

.info-title {
  font-size: 17px;
  opacity: 80%;
  width: 170px;
  margin-left: 40px;
}

.blue-text {
  font-size: 15px;
  color: #007bff;
  padding-right: 350px;
}

.btn-justify {
  border-radius: 50%;
  border: none;
  height: 30px;
  width: 30px;
  cursor: pointer;
}

.ti-pencil {
  color: gray;
}

.blur-text2 {
  font-size: 15px;
  opacity: 60%;
}

.small-img {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  margin-right: 5px;
}

.title-bar {
  display: flex;
  height: 40px;
  width: 1230px;
  border: 1px solid gainsboro;
  border-radius: 7px;
  margin-bottom: 40px;
}

.profile-bar {
  padding-left: 20px;
  padding-top: 10px;
  width: 65px;
  border-bottom: 2px solid #db4673;
}

.project-bar {
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 40px;
}

.bank-bar {
  padding-top: 10px;
  padding-right: 5px;
}

.red-text {
  padding-top: 13px;
  font-size: 13px;
  color: red;
}

.detail-line2,
.detail-line1 {
  display: flex;
}

.emergency-contact,
.personal-info {
  height: 360px;
  width: 600px;
  border-radius: 7px;
  border: 1px solid gainsboro;
}

.personal-info {
  margin-right: 30px;
}

.line-info-title {
  display: flex;
  padding-top: 30px;
  padding-left: 20px;
}

.text-title {
  font-size: 22px;
  padding-right: 320px;
}

.personal-info-detail {
  padding-left: 20px;
  padding-top: 20px;
}

.personal-detail {
  display: flex;
  padding-bottom: 15px;
}

.personal-title {
  width: 300px;
  font-size: 17px;
  opacity: 80%;
}

.line2-info {
  height: 250px;
}

.bank-info {
  height: 250px;
  width: 600px;
  border-radius: 7px;
  border: 1px solid gainsboro;
  margin-top: 30px;
  margin-right: 30px;
}

.row1 {
  display: flex;
  height: 50px;
  width: 555px;
  background-color: #ebecf2;
  margin-left: 20px;
  margin-top: 20px;
}

.text-row1 {
  font-size: 17px;
  font-weight: 550;
  padding-top: 15px;
  padding-right: 50px;
  padding-left: 10px;
}

.row2 {
  display: flex;
  margin-left: 30px;
  margin-top: 10px;
}

.text1-row2,
.text2-row2,
.text3-row2,
.text4-row2 {
  font-size: 15px;
  opacity: 70%;
}

.text1-row2 {
  padding-right: 80px;
}

.text2-row2 {
  padding-right: 115px;
}

.text3-row2 {
  padding-right: 60px;
}
